


/*************************** Responsive Part *****************************/

@media only screen and (max-width: 1150px) {
    #hero .row .top-side .hero-title {
        font-size: 40px;
    }
    .container {
        max-width: 90%;
    }
    #hero .emaim-btm a {
        margin-left: -2%;
    }
    #blog-price .container .blog-box .img, .box {
        width: 44%;
        height: 320px !important;
        margin: 0 auto;
    }
    #blog-price .container .blog-box .img img {
        height: 100%;
        width: 100%;
    }
    #blog-price .container .blog-box .img {
        margin-right: 20px;
    }
    #blog-price .container .blog-box .box {
        padding: 20px;
        margin-left: 20px;
    }
    #blog-price .container .blog-box .box .right-areow {
        display: none;
    }
    #blog-price .container .blog-box .box h2{
        font-size: 35px;
    }
    #blog-price .container .blog-box .box h4 {
        font-size: 20px;
    }
    #blog-price .container .blog-box .box p {
        font-size: 15px;
    }


    #contact .container .contact-body .col-6:first-child {
        max-width: 44%;
        margin-left: 3%;
    }
    #contact .container .contact-body .col-6:first-child input, textarea {
        margin-bottom: 10px;
        padding: 10px;
        font-size: 16px;
        font-weight: normal;
    }
    #contact .container .contact-body .col-6:first-child .btn {
        padding: 10px 30px;
        font-size: 18px;
    }
    #contact .container .contact-body .col-6:nth-child(2) {
        max-width: 44%;
        height: 420px;
        margin-right: 3%;
    }
    
}

@media only screen and (max-width: 1100px) {
    #about .container .about-part2 .about-box {
        width: 280px;
    }
    #about .container .about-part2 .about-box .about-child {
        padding: 50px 15px 15px 15px
    }
}
@media only screen and (max-width: 1000px) {
    #about .container .about-part2 .about-box {
        width: 250px;
    }
    #about .container .about-part2 .about-box .about-child {
        padding: 40px 15px 15px 15px
    }

    #footer .container .footer-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #footer .container .footer-body .col-6__1 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        width: 80%;
    }
    #footer .container .footer-body .col-6__1 .ft-bd__2 {
        margin: 0 auto
    }
    #footer .container .footer-body .col-6__1 .ft-bd__2 .ft-menu {
        text-align: center;
    }
    #footer .container .footer-body .col-6__2 {
        text-align: center;
        width: 80%;
        margin-left: -5px;
    }

    #footer .container .footer-end {
        margin: 50px auto;
        width: 30%;
    }
}
@media only screen and (max-width: 900px) {
    #about .container .about-part2 .about-box {
        width: 225px;
    }
    #about .container .about-part2 .about-box .about-child {
        padding: 20px 10px 10px 10px
    }
    #about .container .about-part2 .about-box .about-child h3 {
        font-size: 20px;
    }
    #about .container .about-part2 .about-box .about-child p {
        font-size: 14px;
    }
    #about .container .about-part2 .about-box .about-child img {
        width: 85px;
        height: 85px;
    }
    

    #contact .container .contact-body .col-6:first-child {
        max-width: 40%;
        margin-left: 5%;
        padding: 10px 10px 10px;
    }
    #contact .container .contact-body .col-6:first-child textarea {
        height: 65px;
    }
    #contact .container .contact-body .col-6:nth-child(2) {
        max-width: 40%;
        height: 300px;
        margin-right: 5%;
    }
    #contact .container .contact-body .col-6:nth-child(2) 
    #contact .container .contact-body .col-6:first-child .btn {
        padding: 10px 30px;
        font-size: 18px;
    }
}

@media only screen  and (max-width: 500px) {
    #about .container .about-part2 .about-box .about-child img {
        width: 85px;
        height: 85px;
    }
    #about .container .about-part2 .about-box .about-child h3 {
        font-size: 25px;
    }
    #about .container .about-part2 .about-box .about-child p {
        font-size: 15px;
    }
}
@media only screen  and (max-width: 410px) {
    #about .container .about-part1 {
        margin-top: -30px;
    }
    #about .container .about-part1 .about-title {
        font-size: 30px;
    }
    #about .container .about-part2 {
        margin-top: 80px;
    }
}

/*------------------------------------------------------------------------*/

@media only screen and (min-width: 850px) and (max-width: 1000px) {
    .logo .logo-img{
        width: 180px;
        height: 40px;
    }
    
    #header .main-header .container .navbar .navbar-menu .nav-item {
        margin: 0 7px;
    }
    #header .main-header .container .navbar .navbar-menu .nav-item .nav-link {
        font-size: 16px;
    }
    #hero .row .top-side .hero-title {
        padding-top: 100px;
        font-size: 34px;
    }
    #hero .row .top-side .hero-parag {
        font-size: 15px;
    }
    #hero .row .top-side .figure {
        width: 400px;
        margin-top: 40px;
    }

    #service .container .service-box  {
        width: 90%;
        margin: 0 auto;
    }
    #service .container .service-box .service-child {
        width: 30%;
        padding: 15px 15px 15px 0px;
    }
    #service .container .service-box .service-child img {
        width: 90px;
        height: 90px;
    }
    #service .container .service-box .service-child h3 {
        margin: 5px;
    }
    #service .container .service-box .service-child p {
        font-size: 14px;
    }
    
}

/*------------------------------------------------------------------------*/

@media only screen and (max-width: 850px) {
    #hero .row {
        flex-direction: column;
    }
    #hero .row .top-side .figure {
        display: none;
    }
    #hero .row .top-side:first-child {
        margin: 0 auto;
        max-width: 100%;
        text-align: center;
    }
    #hero .row .top-side .hero-parag {
        width: 100%;
        padding: 0 50px;
    }
   .emaim-btm {
       width: auto;
        margin: 0 auto;
    }
    .logo .logo-img{
        width: 180px;
        height: 40px;
    }
    .show-menu-btn, .hide-menu-btn {
        display: block;
    }
    #header .main-header .container .navbar-menu {
        position: fixed;
        width: 100%;
        margin: 0; 
        height: 100vh;
        background: #333;
        right: 100%;
        top: 0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    #header .main-header .container .navbar .navbar-menu .nav-item {
        display: block;
        padding: 20px;
    }
    .hide-menu-btn {
        position: absolute;
        top: 40px;
        right: 40px;
    }
    #header .main-header .container .navbar #chk:checked ~ .navbar-menu {
        right: 0;
    }
    #hero .row .top-side .btn-group {
        padding-top: 45px;
    }
    #hero .row .top-side .btn-group a {
        padding: 10px;
        font-size: 18px;
    }
    #service .container .service-box {
        align-items: center;
        justify-content: space-around;
    }

    #service .container .service-box .service-child{
        width: 40%;
    }


}

@media only screen and (max-width: 777px) {
    #about .container .about-part2 {
        flex-direction: column;
    }
    #about .container .about-part2 .about-box {
        width: 90%;
        margin: 0 auto 100px;
    }
    #about .container .about-part2 .about-box .about-child {
        padding: 40px 15px 15px 15px
    }
    #about .container .about-part2 .about-box .about-child img {
        width: 104px;
        height: 105px;
    }
    #about .container .about-part2 .about-box .about-child h3 {
        font-size: 28px;
    }
    #about .container .about-part2 .about-box .about-child p {
        font-size: 18px;
    } 
    #blog-price .container .blog-box {
        max-width: 582px;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
    }
    #blog-price .container .blog-box .img {
        width: 450px;
        height: 400px;
        margin: 0;
    }
    #blog-price .container .blog-box .img img {
        width: 100%;
        height: 100%;
    }
    #blog-price .container .blog-box .box {
        margin: 40px 10px 10px 10px;
        width: 450px;
        height: 400px;
    }

    #service .container .service-box {
        align-items: center;
        justify-content: space-around;
    }

    #service .container .service-box .service-child{
        width: 80%;
    }

}
@media only screen and (max-width: 600px) {
    #blog-price .container .blog-box .img {
        width: 350px;
        height: 280px !important;
    }
    #blog-price .container .blog-box .box {
        width: 350px;
        height: 280px !important;
    }


    #contact .container .contact-body {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 500px;
        align-items: center;
        justify-content: center;
    }
    #contact .container .contact-body .col-6 {
        max-width: 300px !important;
        margin: 20px 0 !important;
        height: 300px !important;

    }

    #footer .container .footer-end {
        margin: 50px auto;
        width: 50%;
    }
}
/*------------------------------------------------------------------------*/

@media only screen and (min-width: 450px) and (max-width: 800px) {
    #hero .emaim-btm {
        margin: 50px auto 0;
    }
    #hero .emaim-btm input {
        width: 70%;
        padding: 15px 5px 15px 10px;
    }
    #hero .emaim-btm a {
        padding: 15.2px 25px;
        margin-left: -1%;
    }
}
@media only screen and (max-width: 450px) {
    #about .container .about-part2 .about-box .about-child img {
        width: 70px;
        height: 70px;
    }
    #about .container .about-part2 .about-box .about-child h3 {
        margin: 5px;
    }
    #about .container .about-part2 .about-box .about-child p {
        font-size: 16px;
    }
    #service .container .service-box .service-child{
        width: 70%;
    }
    #service .container .service-box .service-child h3 {
        margin: 3px;
        font-size: 18px;
    }
    #service .container .service-box .service-child img {
        width: 70px;
        height: 70px;
    }
    #service .container .service-box .service-child p {
        padding-top: 5px;
        font-size: 14px;
    }
    #service .container .service-link {
        margin-top: 50px;
    }
    #service .container .service-link a{
        padding: 10px 20px;
        border-radius: 12px;
        font-size: 16px;
    }
}
/************************************************************************/
@media only screen and (max-width: 400px) {
    #blog-price .container .blog-box .img {
        width: 300px;
        height: 220px !important;
    }
    #blog-price .container .blog-box .box {
        width: 300px;
        height: 220px !important;
        padding: 2px;
    }
    #blog-price .container .blog-box .box h2{
        font-size: 26px;
    }
    #blog-price .container .blog-box .box h4 {
        font-size: 16px;
    }
    #blog-price .container .blog-box .box p{
        font-weight: normal;
        font-size: 14px;
    }
    
    #footer .container .footer-end {
        margin: 50px auto;
        width: 80%;
    }
}
/*------------------------------------------------------------------------*/

@media only screen and (min-width: 300px) and (max-width: 501px){
    #hero .row .top-side .hero-title {
        padding-top: 70px;
    }
    #hero .emaim-btm  {
        width: 90%;
        margin: 45px 25px  0 45px;

    }
    #hero .emaim-btm input {
        width: 65%;
        padding: 8px 5px 8px 10px;
    }
    #hero .emaim-btm a {
        width: 10%;
        padding: 8px 15px 9px 15px;
        margin-left: -2%;
    }
    
}

/*------------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 330px){
    #hero .emaim-btm  {
        width: 80%;
    }
    #hero .emaim-btm input {
        width: 65%;
        padding: 6px 5px 6px 10px;
        font-size: 14px;

    }
    #hero .emaim-btm a {
        width: 5%;
        padding: 6.5px 8px 8px 8px;
        margin-left: -2%;
        font-size: 14px;
    }

    #hero .row .top-side .btn-group a {
        padding: 8px;
        font-size: 18px;
    }
    #blog-price .container .blog-box .img {
        width: 270px;
        height: 190px !important;
    }
    #blog-price .container .blog-box .box {
        width: 270px;
        height: 190px !important;
    }
    #blog-price .container .blog-box .box p{
        font-weight: normal;
        font-size: 13px;
        margin-top: 2px;
    }
    #contact .container .contact-body .col-6 {
        max-width: 270px !important;
        margin: 20px 0 !important;
        height: 270px !important;   
    }
}

/*------------------------------------------------------------------------*/

@media only screen and (max-width: 300px) {
    #hero .emaim-btm  { 
        margin: 45px 25px  0 35px;

    }
    #hero .row .top-side .hero-title {
        padding-top: 70px;
        font-size: 35px;
    }
    #blog-price .container .blog-box .img {
        width: 220px;
        height: 150px !important;
    }
    #blog-price .container .blog-box .box {
        width: 220px;
        height: 150px !important;
    }
    #blog-price .container .blog-box .box h2{
        font-size: 22px;
    }
    #blog-price .container .blog-box .box h4 {
        font-size: 13px;
    }
    #blog-price .container .blog-box .box p{
        font-weight: normal;
        font-size: 10px;
    }

    
}


