@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

*,html {
    box-sizing: border-box !important;
}
body {
    font-family: 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
    list-style-type: none;
}

/* body part */

#header {
    background-image: url(../img/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    max-width: 100%;
    height: 815px;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px 0;
}
#header .main-header .container .navbar {
    color: #fff;
    padding-bottom: 60px;
}
#header .main-header .container .navbar .logo {
    float: left;
    line-height: 100px;
}
#header .main-header .container .navbar .navbar-menu {
    float: right;
    line-height: 40px;
}
#header .main-header .container .navbar .navbar-menu .nav-item {
    display: inline-block;
    margin: 0 10px;
}
#header .main-header .container .navbar .navbar-menu .nav-item .nav-link {
    display: inline-block;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Raleway' sans-serif;
    transition: .4s linear;
}
#header .main-header .container .navbar .navbar-menu .nav-item .nav-link:hover {
    color: rgb(111, 71, 148);
}
#header .main-header .container .navbar .navbar-menu .nav-item:hover .nav-link{
    border-bottom: 2px solid rgb(111, 71, 148);
}

.show-menu-btn, .hide-menu-btn {
    font-size: 25px;
    transition: .4s;
    display: none;
    cursor: pointer;
}
.show-menu-btn:hover, .hide-menu-btn:hover {
    color: rgb(111, 71, 148);
}
.show-menu-btn {
    float: right;   
}
.show-menu-btn i {
    line-height: 80px;
}

#chk {
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}


/************************* Hero part starts from here *********************/
section {
    display: block;
}

#hero .row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
}


#hero .row .top-side {
    flex: 0 0 50%;
    max-width: 50%;
}
#hero .row .top-side .hero-title {
    width: 100%;
    padding-top: 150px;
    font-weight: 700;
    font-size: 48px;
    margin: 0;
}
#hero .row .top-side .hero-parag {
    width: 80%;
    font-size: 17px;
    text-align: justify;
    font-weight: bold;
    letter-spacing: 0.5px;
}
#hero .row .top-side .btn-group {
    padding-top: 35px;
    padding-bottom: 0px;
}
#hero .row .top-side .btn-group a {
    padding: 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
#hero .row .top-side .btn-group a.start {
    background-color: rgba(24, 138, 92, 0.911);
}
#hero .row .top-side .btn-group a.start:hover {
    background-color: rgba(40, 185, 127, 0.911);
}
#hero .row .top-side .btn-group a.contact {
    background-color: #444; 
    margin-left: 15px;
}
#hero .row .top-side .btn-group a.contact:hover {
    background-color: #555;
}
#hero .row .top-side .figure {
    position: relative;
    width: 450px;
    margin-left: 40px;
}
#hero .row .top-side .figure img{
    position: absolute;
}





#hero .emaim-btm {
    width: 80%;
    margin-top: 100px;
}
#hero .emaim-btm input{
    width: 80%;
    padding: 20px 10px 19px 25px;
    font-size: 16px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: 0.5px solid #999;
}
#hero .emaim-btm a {
    margin-left: -0.5%;
    width: 20%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: black;
    padding: 20px 40px 20px 20px;
    color: #fff;
}
#hero .emaim-btm a:visited, :focus{
    outline: none;
}

#hero .emaim-btm a:hover {
    color:rgb(111, 71, 148)
}

/*********************About Section starts from here*********************/

#about {
    margin-top: -80px;
}
#about .container .about-part1 {
    text-align: center;
    padding: 0 30px;
}
#about .container .about-part1 .about-title {
    font-size: 40px;
}
#about .container .about-part1 .about-title span {
    color:rgba(40, 185, 127, 0.911);
}
#about .container .about-part1 .about-parag {
    font-weight: bold;
}


#about .container .about-part2 {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#about .container .about-part2 .about-box {
    width: 30%;
    height: auto;
    text-align: center;
    color: #fff;
}
#about .container .about-part2 .about-box .about-child {
    background-color:#2aaf80;
    padding: 80px 15px 15px 15px;
    border-radius: 25px;
    box-shadow: 0px 1px 21px -7px black;
    margin-bottom: 50px;
}
#about .container .about-part2 .about-box .about-child h3 {
    font-size: 24px;
    font-weight: 500;
}
#about .container .about-part2 .about-box a {
    background-color: black;
    color: #fff;
    padding: 15px 35px;
    border-radius: 10px;
}

/****************** Blog-Price section starts from here*****************/

#blog-price {
    width: 100%;
    height: auto;
    background-color: #2ba879;
    margin: 100px 0;
    position: relative;
    z-index: -111;
}

#blog-price::before {
    content: '';
    background-image: url('/img/about-top-bg.png');
    background-size: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    height: 110px;
    z-index: 1;
}
#blog-price::after {
    content: '';
    background-image: url('/img/about-bottom-bg.png');
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 110px;
    z-index: 1;
}
.clr{
    clear: both;
}

#blog-price .container .blog-box {
    display: flex;
    flex-direction: row;
    padding: 100px 0;
}
#blog-price .container .blog-box .img {
    width: 47.5%;
    height: 400px;
}
#blog-price .container .blog-box .img img{
    height: 400px;
    width: 100%;
    /* box-sizing: border-box; */
}
#blog-price .container .blog-box .box {
    margin-left: 5%;
    width: 47.5%;
    background-color: #fff;
    height: 400px;
    padding: 20px 35px 0;
}
#blog-price .container .blog-box .box h2 {
    color: #2aaf80;
    font-size: 45px;
    margin: 0;
    font-weight: 900;
}
#blog-price .container .blog-box .box h4 {
    font-size: 24px;
    font-weight: 500;
    margin: 10px 0 0 0;
}
#blog-price .container .blog-box .box p{
    letter-spacing: 0.5;
    font-weight: bolder;
    line-height: 1.5;
    z-index: 9;
    position: relative;
}
#blog-price .container .blog-box .box .right-areow {
    position: relative;
    bottom: 130px;
    right: 250px;
}

/********************/

#service .container .service-text {
    text-align: center;
    margin-bottom: 30px;
}
#service .container .service-text h2{
    font-size: 40px;
}
#service .container .service-text span {
    color:rgba(40, 185, 127, 0.911);
}
#service .container .service-text p {
    font-weight: 600;

}
#service .container .service-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
#service .container .service-box .service-child {
    border: 2px solid rgba(40, 185, 127, 0.911);
    border-radius: 12px;
    padding: 20px 20px 20px 5px;
    text-align: center;
    width: 32%;
    margin: 10px 0;
}
#service .container .service-box .service-child h3 {
    font-size: 22px;
    font-weight: bolder;
}
#service .container .service-box .service-child p {
    font-weight: 500;
    margin: 0;
}
#service .container .service-box .service-child:nth-child(2) {
    background-color: #2ba879;
    box-shadow: 0px 0px 8px 0px black;
    color: #fff;
}
#service .container .service-link {
    text-align: center;
    margin-top: 70px;
}
#service .container .service-link a{
    text-align: center;
    color: #fff;
    background-color: #111;
    padding: 15px 30px;
    border-radius: 12px;
    font-size: 18px;
    letter-spacing: 0.5px;
}    

/*************** Contacts part starts from here *******************/
.contact-text .container{
    text-align: center;
}
.contact-text .container h2 {
    font-size: 40px;
}
.contact-text .container p {
    font-weight: 600;
}


/********************* Contact body ******************************/
#contact {
    background-image: url('../img/contact-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    z-index: 999;
    position: relative;
}

#contact .container .contact-body {
   display: flex;
   justify-content: space-between;
   padding: 80px 0; 
}
#contact .container .contact-body .col-6 {
    /* flex: 0 0 50%; */
    max-width: 48%
}
#contact .container .contact-body .col-6:first-child {
    padding: 30px ;
    background-color: #fff;
    width: auto;
    border-radius: 24px;
}
#contact .container .contact-body .col-6:nth-child(2) img{
    width: 100%;
    height: 100%;
}
#contact .container .contact-body .col-6:first-child input, textarea {
    margin-bottom: 15px;
    width: 100%;
    padding: 15px;
    border-radius: 12px;
    border: none;
    background-color: #ececec;
    font-size: 22px;
    font-weight: normal;
}
#contact .container .contact-body .col-6:first-child textarea {
    resize: vertical;
    overflow: auto;
}
#contact .container .contact-body .col-6:first-child input:focus, textarea:focus {
    outline: 1px solid black;
}

#contact .container .contact-body .col-6:first-child .btn {
    background-color: #ce4109; 
    color: #fff;
    border: none;
    padding: 15px 35px;
    border-radius: 5px;
    font-size: 22px;
    margin: 0 auto;
    width: 46%;
    margin-left: 25%;
    cursor: pointer;
}
#contact .container .contact-body .col-6:first-child .btn:hover {
    background-color: #d45d2d; 
}
#contact .container .contact-body .col-6:first-child .btn:visited {
    background-color: #8b3918; 
}

/******************* Footer parts here from ***************************/
#footer {
    margin-top: -80px;
    background-color: #2c2c2c;
    height: auto;
    z-index: -999;
}

#footer .container .footer-start {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 100px auto 0;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 30px;
    border-radius: 30px;
    margin-top: 240px;
}
#footer .container .footer-start .ft-st {
    text-align: center;
}
#footer .container .footer-start .ft-st p {
    color: #888;
    font-weight: 500;
}
#footer .container .footer-start .ft-st p i {
    margin-right: 10px;
    color: #2aaf80;
    font-size: 20px;
}

#footer .container .footer-body {
    margin-top: 100px;
    display: flex;
}
#footer .container .footer-body .col-6__1 {
    display: flex;
    width: 35%;
    border: 1px solid #17ad74;
    border-radius: 12px;
    padding: 10px;
}
#footer .container .footer-body .col-6__1 .ft-bd__1 {
    justify-content: center;
    align-self: center;
}
#footer .container .footer-body .col-6__1 .ft-bd__2 {
    flex-direction: column;
    text-align: left;
    color: #fff;
    margin-left: 50px;
}
#footer .container .footer-body .col-6__1 .ft-bd__2 .ft-menu li {
    margin: 0 0 0 -40px;
    padding: 10px;
}
#footer .container .footer-body .col-6__1 .ft-bd__2 .ft-menu li a{
    color: #fff;
    
}
#footer .container .footer-body .col-6__2 {
    margin-left: 5%;
    color: #fff;
    width: 60%;
    border: 1px solid #17ad74;
    border-radius: 12px;
    padding: 10px;
}
#footer .container .footer-body .col-6__2 .ft-links{
    display: flex;
    justify-content: space-around;
}
#footer .container .footer-body .col-6__2 .ft-links .ft-lnk {
    width: 30%;
}
#footer .container .footer-end  {
    margin: 60px auto;
    width: 30%;
}
#footer .container .footer-end ul{
    display: flex;
}
#footer .container .footer-end ul li {
    padding: 0 15px;
}



/*************** copyright footer **********************/

#copyright_main {
    width: 100%;
    float: left;
    background-color: #17ad74;
    height: auto;
    padding-bottom: 5px;
    padding-top: 5px;
}


#copyright_main .container .copy_text {
    width: 100%;
    float: left;
    text-align: center;
    color: #ffffff;
    margin-left: 0px;
    margin-right: 0px;
}
#copyright_main .container .copy_text a{
    color: #ffffff;
    text-decoration: none;
    outline: none !important;
}
